<script>
    navigator.geolocation.getCurrentPosition(function (position, err) {
        if (err) throw err;
        document.getElementById("latitude").value = position.coords.latitude;
        document.getElementById("longitude").value = position.coords.longitude;
    });
</script>
<h1>Ciao <%= name %>
</h1>
<form action="/logout?_method=DELETE" method="POST">
    <button type="submit">Logout</button>
</form>
<h1>Effettua una richiesta di emergenza</h1>
<% var success, failure;  %> 
<% if (success) { %>
<div class="alert alert-success" role="alert"><%= success %></div>
<% } %>
<% if (failure) { %>
<div class="alert alert-danger" role="alert"><%= failure %></div>
<% } %>
<form action="/" method="POST">
    <label for="content">Content</label><textarea id="content" name="content" rows="4" cols="50"
        required></textarea><br />
    <label for="location">Location</label><input type="text" id="location" name="location" required /><br />
    <label for="address">Address</label><input type="text" id="address" name="address" required /><br />
    <input type="hidden" id="latitude" name="latitude"/>
    <input type="hidden" id="longitude" name="longitude"/>
    <button type="submit">Manda richiesta</button>
    </div>
</form>