<%- include('header') %>
<link rel="stylesheet" type="text/css" href="css/style.css" />

<body class="gradient-custom">
  <section class="vh-auto">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5 mb-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem">
            <div class="card-body p-5 text-center">
              <div class="mt-md-4">
                <h2 class="fw-bold mb-5 text-uppercase">Crea un account</h2>
                <% if (messages.success) { %>
                <div class="alert alert-success" role="alert">
                  <%= messages.success %>
                </div>
                <% } %>
                <% if (messages.error) { %>
                <div class="alert alert-danger" role="alert">
                  <%= messages.error %>
                </div>
                <% } %>
                <form action="/register" method="post">

                  <div class="row">
                    <div class="form-outline form-white col-md-6 mb-4">
                      <label class="form-label" for="firstName">Nome</label>
                      <input type="text" id="firstName" name="firstName" class="form-control form-control-lg" />
                    </div>
                    <div class="form-outline form-white col-md-6 mb-4">
                      <label class="form-label" for="lastName">Cognome</label>
                      <input type="text" id="lastName" name="lastName" class="form-control form-control-lg" />
                    </div>
                  </div>

                  <div class="row">
                    <div class="form-outline form-white col-md-8 mb-4">
                      <label class="form-label" for="city">Città</label>
                      <input type="text" id="city" name="city" class="form-control form-control-lg" />
                    </div>
                    <div class="form-outline form-white col-md-4 mb-4">
                      <label class="form-label" for="province">Sigla provincia</label>
                      <input type="text" id="province" name="province" class="form-control form-control-lg" />
                    </div>
                  </div>

                  <div class="form-outline form-white mb-4">
                    <label class="form-label" for="birthDate">Data di nascita</label>
                    <input type="date" id="birthDate" name="birthDate" class="form-control form-control-lg" />
                  </div>
                  <div class="row">
                    <h6 class="col-2 mb-4 me-4">Sesso: </h6>

                    <div class="form-check form-check-inline col-4 mb-0 me-4">
                      <input class="form-check-input" type="radio" name="gender" id="maleGender" value="Maschio" />
                      <label class="form-check-label" for="maleGender">Maschio</label>
                    </div>

                    <div class="form-check form-check-inline col-4 mb-0 me-4">
                      <input class="form-check-input" type="radio" name="gender" id="femaleGender" value="Femmina" />
                      <label class="form-check-label" for="femaleGender">Femmina</label>
                    </div>
                  </div>

                  <div class="form-outline form-white mb-4">
                    <input type="text" id="email" name="email" class="form-control form-control-lg" />
                    <label class="form-label" for="email">Email</label>
                  </div>

                  <div class="form-outline form-white mb-4">
                    <input type="password" id="password" name="password" class="form-control form-control-lg" />
                    <label class="form-label" for="password">Password</label>
                  </div>

                  <div class="form-outline form-white mb-4">
                    <input type="password" id="confirmPassword" name="confirmPassword" class="form-control form-control-lg" />
                    <label class="form-label" for="confirmPassword">Conferma password</label>
                  </div>

                  <button class="btn btn-outline-light btn-lg px-5" type="submit">
                    Registrati
                  </button>
              </div>
              </form>
              <div>
                <p class="mb-0">
                  Hai già un account?
                  <a href="/Login" class="text-white-50 fw-bold">Accedi</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>
</body>